
@media only screen and (orientation: portrait) {
  .header { 
    height: 100vh;   
    &__content {
      &-teamLogo {
        margin-top:35vh;        
      }

      &-partnerLogo {        
        margin-top: 10vh;       
      }
    }  

  .arrow {
    height: $arrowWidth * 0.25;
    margin-top: 10vh;
  }

}
}