@media screen and (max-width:480px) and (orientation:portrait) {  
  .header {
    
    &__content {
      &-teamLogo {       
        max-width: 70%;        
      }

      &-partnerLogo {
        max-width: 40%;        

        span {
          font-size: 10px;
        }
      }
    }
  } 
}//480px portrait