@media screen and (max-width:1366px) and (max-height:768px) {
  .header {
    &__content {      
      &-teamLogo {
        max-width: 45%;
      }
      &-partnerLogo {
        margin-top: 12vh;
      }     
    }
  }
  .arrow {
    height: $arrowWidth * 0.4;
    margin-top: 7vmin;
  }
}// 1366x768px