@media only screen and (orientation: portrait) {
  .header { 
    height: 100vh;   
    &__content {
      &-teamLogo {
        margin-top:40vh;        
      }

      &-partnerLogo {        
        margin-top: 10vh;       
      }
    }
  }

  .arrow {    
    margin-top: 10vh;    
  }
}