
@media screen and (min-width:300px) and (max-width:480px) {
  .btn {
    height: 26px;
    font-size: 11px;
  }

  .navigation {
    font-size: 11px;

    &__nav {
      margin-top: 10px;
    }

    &__lang {
      margin-top: 7px;
      width: 55px;
    }
  }

  .header {
    &__content {
      &-teamLogo {
        margin-top: 18%;
        max-width: 50%;
      }

      &-partnerLogo {
        max-width: 22%;
        margin-top: 8%;

        span {
          font-size: 8px;
          line-height: 1;
        }
      }
    }
  }

  .arrow {
    height: $arrowWidth * 0.15;
    margin-top: 3%;
    margin-bottom: 20px;
  }

  .aboutUs {
    &__text {
      top: 70px;
      margin-top: 70px;
      width: 90%;
      &_wrapper {
        height: 280px;
      }

      h1 {
        font-size: 11px;
        padding: 10px;
      }
      p {
        padding: 0 10px 10px;
        font-size: 9px;
      }
    }
    &__btn {
      margin: 10px 0 10px 10px;
    }
    &__carousel {
      // visibility: hidden;
      
      margin-bottom:50%;

      ul {
        margin-top: 180%;
      }
    }    
  
  }//aboutUs

  .project {
    width: 100%;
    padding: 0;

    &__container {
      top: 50px;
    }

    a {
      margin: 10px ;
    }
  }

  .contact {
    margin: 50px 0;
    &__form,
    &__info {
      min-width: 300px;      
      width: 100%;
    }
    &__info {
      div {
        text-align: center;
      }
      &_icon {
        justify-content: center;
      }
    }
  }


//блок свойств кнопки меню бургер **************
.burger {
  display: block;
  position: relative;
  width: 25px;
  height: 25px;
  z-index: 2;
  cursor: pointer;
}

.burgerBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 2px;
  background-color: white;
  transition: all 0.3s ease-in-out;

  &::before,
  &::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    width: 100%;
    height: 2px;
    background-color: white;
    transition: transform .3s ease-in-out;
  }

  &::before {
    top: 8px;
  }

  &::after {
    bottom: 8px;
  }
}

.burgerBtn-active::before {
  transform: translate(-50%, -8px) rotate(45deg);
  transform-origin: center center;
  transition: transform .3s ease-in-out;
}

.burgerBtn-active::after {
  transform: translate(-50%, 8px) rotate(-45deg);
  transform-origin: 50% 50%;
  transition: transform .3s ease-in-out;
}

.burgerBtn-active {
  background-color: transparent;
  transition: .3s ease-in-out;
}

.navigation__link {
  position: absolute;
  bottom: -60px;
  left: 0;
  display: block;
  list-style: none;
  width: 100px;
  height: auto;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;

  li {
    display: inline-block;
    height: 30px;
  }

  li:first-child {
    margin-bottom: 10px;
  }

  li::before {
    height: 2px;
    top: 20px;
  }
}

.navigation__link-active {
  visibility: visible;
  opacity: 1;
  transform: translateY(20px);
  transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out, transform 0.4s ease-in-out;
}
} //max 480px