@charset "UTF-8";
@font-face {
  font-family: OpenSans_Light;
  src: url(../../fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: OpenSans_Regular;
  src: url(../../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: OpenSans_SemiBold;
  src: url(../../fonts/OpenSans-SemiBold.ttf);
}
@font-face {
  font-family: OpenSans_Bold;
  src: url(../../fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: OpenSans_ExtraBold;
  src: url(../../fonts/OpenSans-ExtraBold.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: OpenSans_Regular;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.btn {
  display: inline-block;
  padding: 0 20px;
  height: 55px;
  background: transparent;
  outline-style: none;
  font-size: 24px;
  font-family: OpenSans_SemiBold;
  cursor: pointer;
  border-radius: 8px;
}
.btn::first-letter {
  text-transform: uppercase;
}

.navigation {
  max-width: 1240px;
  padding: 0 20px;
  width: 100%;
  height: 74px;
  background: transparent;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  font-size: 24px;
}
.navigation__container {
  width: 100%;
  height: 100%;
  display: flex;
}
.navigation__nav {
  position: relative;
  flex: 1;
  height: 50%;
  font-family: OpenSans_Light;
  margin-top: 19px;
}
.navigation__link {
  display: flex;
  width: 100%;
  height: 100%;
  list-style: none;
}
.navigation__link li {
  display: inline-block;
  position: relative;
  width: auto;
  height: 100%;
  margin-right: 38px;
  z-index: 1;
}
.navigation__link li::before {
  display: block;
  position: absolute;
  content: "";
  top: -10px;
  left: 0;
  width: 100%;
  height: 5px;
  z-index: 2;
}
.navigation__link li a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: inherit;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  font-family: OpenSans_Regular;
}
.navigation__link li a::first-letter {
  text-transform: uppercase;
}
.navigation__btn {
  margin-top: 11px;
  border: 1px solid rgba(255, 255, 255, 0.9);
  color: rgba(255, 255, 255, 0.9);
  margin-right: 34px;
}
.navigation__btn:hover {
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.7);
}
.navigation__lang {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 19px;
  width: 110px;
  height: 50%;
  font-family: OpenSans_SemiBold;
}
.navigation__lang #en,
.navigation__lang #ru {
  display: inline-block;
  font-family: inherit;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}
.navigation__lang #en a,
.navigation__lang #ru a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}
.navigation__lang #en .active,
.navigation__lang #ru .active {
  color: rgba(255, 255, 255, 0.95);
  font-family: OpenSans_Bold;
}
.navigation__lang #en {
  margin-right: 13px;
}
.navigation .activeLink::before {
  background: rgba(255, 255, 255, 0.8);
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-blend-mode: soft-light;
  background: url(/img/background-image.png), rgba(119, 99, 255, 0.9);
  background-repeat: no-repeat;
  background-size: cover;
}
.header__container {
  position: relative;
  max-width: 1240px;
  padding: 0 20px;
  width: 100%;
}
.header__content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
.header__content-teamLogo {
  display: block;
  max-width: 70vh;
  margin-top: 22vh;
  opacity: 0.8;
}
.header__content-partnerLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 20%;
  margin-top: 15vh;
  width: 100%;
}
.header__content-partnerLogo a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.header__content-partnerLogo a:hover span, .header__content-partnerLogo a:hover img {
  color: white;
  opacity: 1;
  transition: all 0.3s ease;
}
.header__content-partnerLogo img {
  display: block;
  width: 100%;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}
.header__content-partnerLogo span {
  display: inline-block;
  width: 100%;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.01em;
  transition: color 0.3s ease;
}

.arrow {
  width: 94px;
  height: 47px;
  margin-top: 8vh;
  background-color: transparent;
}
.arrow a {
  position: relative;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.arrow a div {
  position: absolute;
  bottom: 18.8px;
  left: 0%;
  width: 94px;
  height: 94px;
  border: 3px solid rgba(255, 255, 255, 0.7);
  transform: rotate(45deg);
  transform-origin: 50% 50%;
}
.arrow a div:hover {
  border: 3px solid white;
  transition: all 0.2s ease;
}

.contactUsModal {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8);
  /* Black w/ opacity */
}
.contactUsModal ul {
  display: flex;
  justify-content: center;
  max-width: 400px;
  width: 100%;
  max-height: 80px;
  height: 100%;
  list-style: none;
  margin: auto;
  background-color: white;
  border-radius: 8px;
  animation: zoomOn 0.3s ease-in-out;
}
.contactUsModal ul li {
  width: 22%;
  height: 100%;
}
.contactUsModal ul li a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.contactUsModal ul li a img {
  display: block;
  width: 100%;
  height: auto;
}
.contactUsModal .close::before {
  position: absolute;
  top: 20px;
  right: 40px;
  content: "☓";
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.contactUsModal .close:hover {
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
}
@keyframes zoomOn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.main {
  max-width: 1920px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  width: 100%;
  height: auto;
}

.aboutUs {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.aboutUs__text {
  position: sticky;
  top: 178px;
  width: 60%;
  height: 67%;
  margin-top: 178px;
  margin-bottom: 14.5%;
}
.aboutUs__text_wrapper {
  position: relative;
  width: 100%;
  height: 500px;
  color: #2a2a2a;
  overflow: hidden;
}
.aboutUs__text .visible {
  position: absolute;
  background: white;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.1s ease-in;
}
.aboutUs__text h1 {
  padding: 30px 0px 10px 36px;
  font-family: OpenSans_Bold;
  text-transform: uppercase;
  color: #1e1e1e;
}
.aboutUs__text p {
  padding: 0px 36px 55px;
  overflow-wrap: break-word;
  white-space: normal;
}
.aboutUs__btn {
  margin: 0 0 50px 36px;
  border: 3px solid #2f80ed;
  color: #2f80ed;
}
.aboutUs__carousel {
  position: relative;
  top: 0;
  width: 30%;
  height: 100%;
  margin-bottom: 25.5%;
  z-index: 5;
}
.aboutUs__carousel ul {
  display: flex;
  margin-top: 75%;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  list-style: none;
}
.aboutUs__carousel ul li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 50px;
}
.aboutUs__carousel ul li img {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  z-index: 5;
}

.project {
  position: relative;
  width: 100%;
}
.project__container {
  position: sticky;
  display: flex;
  overflow-x: auto;
  top: 100px;
  min-width: 100%;
  scrollbar-width: none;
}
.project__container::-webkit-scrollbar, .project__container::-webkit-scrollbar-button {
  width: 1px;
  height: 1px;
}
.project__card {
  display: block;
  min-width: 300px;
  width: 100%;
  height: 480px;
  margin: 20px;
  font-size: 10px;
  border: 1px solid #d0d0d0;
  box-shadow: 0px 0px 10px 5px rgba(108, 99, 255, 0.1);
  border-radius: 8px;
}
.project__card:first-child {
  margin-left: 0;
}
.project__card:last-child {
  margin-right: 0;
}
.project__card img {
  display: block;
  width: 100%;
  height: 45%;
}
.project__card figcaption {
  display: block;
  width: 100%;
  height: 40%;
  padding: 15px;
}
.project__card figcaption h1 {
  font-size: 2.2em;
  text-transform: uppercase;
}
.project__card figcaption p {
  display: inline-block;
  padding-top: 10px;
  font-size: 1.6em;
  width: 100%;
  overflow: hidden;
}
.project__card a {
  display: inline-block;
  font-family: OpenSans_Regular;
  color: #2f80ed;
  font-size: 2.4em;
  margin: 16px 20px;
  text-decoration: none;
}

.contact {
  position: relative;
  width: 100%;
  height: 485px;
  display: flex;
  justify-content: center;
  margin: 300px 0;
  background-blend-mode: hard-light;
  background: url(/img/contact.png) center, white;
  background-repeat: no-repeat;
  background-size: contain;
}
.contact__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 1240px;
  padding: 0 20px;
  width: 100%;
  height: 100%;
}
.contact__form {
  display: block;
  font-size: 10px;
  padding-left: 40px;
  width: 45%;
  height: 100%;
  background: white;
  box-shadow: 0px 0px 60px rgba(108, 99, 255, 0.3);
  border-radius: 8px;
}
.contact__form h2 {
  text-transform: uppercase;
  font-family: OpenSans_Bold;
  font-size: 3.6em;
}
.contact__form input {
  width: 90%;
  height: 83px;
  margin-top: 49px;
  border: 1px solid #67647e;
  border-radius: 8px;
  outline-style: none;
  font-size: 2.4em;
  padding-left: 20px;
}
.contact__form input::placeholder {
  color: rgba(151, 151, 151, 0.8);
  font-size: inherit;
}
.contact__method {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
  height: 83px;
  margin-top: 49px;
  border: 1px solid #67647e;
  border-radius: 8px;
  font-family: OpenSans_Bold;
}
.contact__method span {
  position: absolute;
  top: -25px;
  left: 0px;
  font-size: 1.6em;
  font-family: OpenSans_Bold;
}
.contact__method_select {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 2.4em;
  font-family: OpenSans_SemiBold;
  cursor: pointer;
  transition: all 0.2s linear;
}
.contact__method_select::first-letter {
  text-transform: uppercase;
}
.contact__method_select:hover {
  color: #e5a8ff;
  transition: all 0.2s linear;
}
.contact__btn {
  margin-top: 30px;
  border: 1px solid rgba(47, 128, 237, 0.9);
  color: #2f80ed;
}
.contact__btn:hover {
  border: 1px solid rgba(47, 128, 237, 0.5);
  box-shadow: 0 0 5px 5px rgba(47, 128, 237, 0.5);
}
.contact__info {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-family: OpenSans_SemiBold;
}
.contact__info div {
  width: 80%;
  font-family: inherit;
  font-size: 1em;
}
.contact__info_icon {
  display: flex;
}
.contact__info_icon img {
  display: block;
  margin-right: 10px;
}

.example {
  width: 100%;
  height: 800px;
  border: 2px solid green;
}
.example__wrapper {
  width: 100%;
  height: 100%;
  background: rgba(151, 151, 151, 0.8);
  overflow: hidden;
}
.example__wrapper img {
  display: block;
  max-width: 100%;
  width: 70%;
  height: auto;
  margin: 0 auto;
}

/* Style the header: fixed position (always stay at the top) */
.indicator {
  position: fixed;
  top: 30px;
  z-index: 1;
  max-width: 1240px;
  width: 100%;
  background-color: transparent;
  /* The progress container */
  /* The progress bar (scroll indicator) */
}
.indicator__container {
  width: 100%;
  height: 8px;
  background: transparent;
}
.indicator__bar {
  height: 8px;
  background: #4caf50;
  width: 0%;
}

/*# sourceMappingURL=index.css.map */
