@font-face {
  font-family: OpenSans_Light;
  src: url(../../fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: OpenSans_Regular;
  src: url(../../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: OpenSans_SemiBold;
  src: url(../../fonts/OpenSans-SemiBold.ttf);
}
@font-face {
  font-family: OpenSans_Bold;
  src: url(../../fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: OpenSans_ExtraBold;
  src: url(../../fonts/OpenSans-ExtraBold.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: OpenSans_Regular;
}

html {
  scroll-behavior: smooth;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  position: relative;
  max-width: 1440px;
  width: 100%;
  height: 100%;
  font-size: 24px;
  background-blend-mode: soft-light;
  background: url(/img/background-image.png), rgba(108, 99, 255, 0.8);
}
.header__navigation {
  width: 100%;
  height: 65px;
  background: white;
  position: sticky;
  top: 0px;
  left: 0;
  display: flex;
  z-index: 2;
}
.header__logo {
  width: auto;
  height: 50%;
  font-family: OpenSans_ExtraBold;
  margin: 16px 0 0 71px;
}
.header__nav {
  flex: 1;
  height: 50%;
  font-family: OpenSans_Light;
  margin: 16px 0 0 114px;
}
.header__link {
  display: flex;
  width: 100%;
  height: 100%;
  list-style: none;
}
.header__link li {
  display: block;
  position: relative;
  width: auto;
  height: 100%;
  margin-right: 43px;
  z-index: 1;
}
.header__link li::before {
  display: block;
  position: absolute;
  content: "";
  top: -10px;
  left: 0;
  background: linear-gradient(to right, #d31d4a 0%, #4d10c2 100%);
  width: 100%;
  height: 5px;
  z-index: 1;
}
.header__link li::after {
  display: block;
  position: absolute;
  content: "";
  top: -11px;
  right: -1px;
  background: white;
  width: 102%;
  height: 7px;
  z-index: 2;
  transition: 0.4s ease;
}
.header__link li:hover::after {
  width: 0%;
  transition: 0.4s ease;
}
.header__link li a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: inherit;
  text-decoration: none;
  color: #1e1e1e;
  font-family: OpenSans_Regular;
}
.header__lang {
  display: flex;
  justify-content: space-between;
  margin: 16px 71px 0 0;
  width: 110px;
  height: 50%;
  font-family: OpenSans_Bold;
}
.header__lang #en,
.header__lang #ru {
  display: inline-block;
  height: 100%;
  font-family: inherit;
  cursor: pointer;
}
.header__lang #en:active,
.header__lang #ru:active {
  color: #2f80ed;
}
.header__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
.header__content h1 {
  display: inline-block;
  font-size: 308px;
  mix-blend-mode: overlay;
  color: rgba(255, 255, 255, 0.5);
  margin: 100px auto;
}
.header__content-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 237px;
  height: 63px;
}
.header__content-logo a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.header__content-logo a:hover span, .header__content-logo a:hover img {
  color: white;
  opacity: 1;
  transition: all 0.3s ease;
}
.header__content-logo img {
  display: block;
  width: 100%;
  filter: brightness(0%) invert(100%);
  opacity: 0.5;
  transition: opacity 0.3s ease;
  height: auto;
}
.header__content-logo span {
  display: inline-block;
  width: 100%;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.01em;
  transition: color 0.3s ease;
}

.arrow {
  position: relative;
  width: 93px;
  height: 46px;
  background-color: transparent;
  margin-top: 52px;
  margin-bottom: 25px;
  overflow: hidden;
}
.arrow div {
  position: absolute;
  top: -75px;
  left: -5px;
  width: 100px;
  height: 100px;
  border: 2px solid white;
  transform: rotate(45deg);
  transform-origin: 50% 50%;
}

.main {
  max-width: 1440px;
  width: 100%;
  height: auto;
}

.container {
  width: 100%;
  height: 100%;
}
.container__aboutUs {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
}
.container__aboutUs-wrapper {
  position: sticky;
  top: 100px;
  bottom: 100px;
  width: 80%;
  align-self: flex-start;
  margin: 140px 0 150px 117px;
  z-index: 2;
}
.container__aboutUs-text {
  padding: 0 43px 50px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px gray;
  background: white;
}
.container__aboutUs-text h1 {
  padding: 50px 0 27px;
  font-family: OpenSans_Bold;
}
.container__aboutUs-text p ol {
  list-style: disc;
}
.container__aboutUs-text p ol li {
  margin-left: 20px;
}
.container__aboutUs-scopes {
  position: sticky;
  top: 0px;
  margin-top: 43px;
  height: 750px;
  font-size: 200px;
  line-height: 0.5;
  font-family: OpenSans_ExtraBold;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  color: #6C63FF;
  opacity: 0.5;
  text-transform: uppercase;
  z-index: 1;
}
.container__aboutUs-carousel {
  position: relative;
  width: 30%;
  margin-right: 113px;
  margin-top: 43px;
  z-index: 5;
}
.container__aboutUs-carousel ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  list-style: none;
}
.container__aboutUs-carousel ul li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 327px;
  height: 327px;
  background: rgba(108, 99, 255, 0.8);
  border-radius: 50%;
  z-index: 5;
  margin-bottom: 50px;
}
.container__aboutUs-carousel ul li img {
  position: relative;
  display: block;
  width: 80%;
  height: auto;
  z-index: 5;
}
.container .empty {
  width: 100%;
  height: 2500px;
  background: rgba(47, 69, 90, 0.5);
}

/*# sourceMappingURL=index.css.map */
