@font-face {
  font-family: OpenSans_Light;
  src: url(../../fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: OpenSans_Regular;
  src: url(../../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: OpenSans_SemiBold;
  src: url(../../fonts/OpenSans-SemiBold.ttf);
}
@font-face {
  font-family: OpenSans_Bold;
  src: url(../../fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: OpenSans_ExtraBold;
  src: url(../../fonts/OpenSans-ExtraBold.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: OpenSans_Regular;
}

html {
  scroll-behavior: smooth;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

.navigation {
  max-width: 1200px;
  width: 100%;
  height: 74px;
  background: transparent;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  font-size: 24px;
}
.navigation__container {
  width: 100%;
  height: 100%;
  display: flex;
}
.navigation__nav {
  flex: 1;
  height: 50%;
  font-family: OpenSans_Light;
  margin-top: 19px;
}
.navigation__link {
  display: flex;
  width: 100%;
  height: 100%;
  list-style: none;
}
.navigation__link li {
  display: block;
  position: relative;
  width: auto;
  height: 100%;
  margin-right: 38px;
  z-index: 1;
}
.navigation__link li a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: inherit;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  font-family: OpenSans_Regular;
}
.navigation__link li a::first-letter {
  text-transform: uppercase;
}
.navigation__link li a::before {
  display: block;
  position: absolute;
  content: "";
  top: -10px;
  left: 0;
  width: 100%;
  height: 5px;
  z-index: 1;
}
.navigation .btn {
  width: 200px;
  height: 55px;
  margin-top: 11px;
  border-radius: 8px;
  border: 4px solid rgba(255, 255, 255, 0.9);
  background: transparent;
  outline-style: none;
  color: rgba(255, 255, 255, 0.8);
  font-family: OpenSans_SemiBold;
  font-size: 24px;
  margin-right: 34px;
  cursor: pointer;
}
.navigation .btn:hover {
  border: 1px solid rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.9);
}
.navigation .btn::first-letter {
  text-transform: uppercase;
}
.navigation__lang {
  display: flex;
  justify-content: space-between;
  margin-top: 19px;
  width: 110px;
  height: 50%;
  font-family: OpenSans_SemiBold;
}
.navigation__lang #en,
.navigation__lang #ru {
  display: inline-block;
  height: 100%;
  font-family: inherit;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}
.navigation__lang #en a,
.navigation__lang #ru a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}
.navigation__lang #en .active,
.navigation__lang #ru .active {
  color: rgba(255, 255, 255, 0.95);
  font-family: OpenSans_Bold;
  border: 2px solid red;
}
.navigation__lang #en {
  margin-right: 13px;
}
.navigation .activeLink::before {
  background: rgba(255, 255, 255, 0.8);
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 24px;
  background-blend-mode: soft-light;
  background: url(/img/background-image.png), rgba(119, 99, 255, 0.9);
  background-repeat: no-repeat;
  background-size: cover;
}
.header__container {
  max-width: 1200px;
  width: 100%;
  height: auto;
}
.header__content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.header__content-teamLogo {
  display: block;
  max-width: 60%;
  margin-top: 15vmin;
  opacity: 0.8;
}
.header__content-partnerLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vmin;
  width: 19.1%;
}
.header__content-partnerLogo a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.header__content-partnerLogo a:hover span, .header__content-partnerLogo a:hover img {
  color: white;
  opacity: 1;
  transition: all 0.3s ease;
}
.header__content-partnerLogo img {
  display: block;
  width: 100%;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}
.header__content-partnerLogo span {
  display: inline-block;
  width: 100%;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.01em;
  transition: color 0.3s ease;
}

.arrow {
  position: relative;
  width: 93px;
  height: 46px;
  background-color: transparent;
  margin-top: 10vmin;
  margin-bottom: 100px;
  overflow: hidden;
}
.arrow div {
  position: absolute;
  top: -75px;
  left: -5px;
  width: 100px;
  height: 100px;
  border: 3px solid rgba(255, 255, 255, 0.7);
  transform: rotate(45deg);
  transform-origin: 50% 50%;
}
.arrow a {
  text-decoration: none;
  display: block;
}

.main {
  max-width: 1920px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1200px;
  width: 100%;
  height: auto;
}

.aboutUs {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.aboutUs__text {
  position: sticky;
  top: 178px;
  width: 60%;
  height: 67%;
  margin-top: 178px;
  margin-bottom: 14.5%;
}
.aboutUs__text_wrapper {
  position: relative;
  width: 100%;
  height: 500px;
  color: #2a2a2a;
  border: 1px dashed blue;
  overflow: hidden;
}
.aboutUs__text .visible {
  position: absolute;
  background: white;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.1s ease-in;
}
.aboutUs__text h1 {
  padding: 55px 0px 10px 36px;
  font-family: OpenSans_Bold;
  text-transform: uppercase;
  color: #1e1e1e;
}
.aboutUs__text p {
  padding: 0px 36px 55px;
  overflow-wrap: break-word;
  white-space: pre-line;
}
.aboutUs__btn {
  display: inline-flex;
  align-items: center;
  height: 60px;
  margin: 0 0 50px 36px;
  border: 4px solid #2f80ed;
  border-radius: 8px;
  padding: 0 20px;
  font-size: 24px;
  font-family: OpenSans_SemiBold;
  color: #2f80ed;
}
.aboutUs__btn::first-letter {
  text-transform: uppercase;
}
.aboutUs__carousel {
  position: relative;
  top: 0;
  width: 30%;
  height: 100%;
  margin-bottom: 25.5%;
  z-index: 5;
  border: 1px solid red;
}
.aboutUs__carousel ul {
  display: flex;
  margin-top: 75%;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  list-style: none;
  border: 2px dashed blue;
}
.aboutUs__carousel ul li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 50px;
}
.aboutUs__carousel ul li img {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  z-index: 5;
}

.project {
  position: relative;
  top: 0;
  bottom: 100px;
  width: auto;
  overflow: hidden;
  border: 3px solid blue;
}
.project__container {
  position: sticky;
  top: 0;
  left: 0;
  width: auto;
  height: 880px;
  background-color: indianred;
}
.project__cards {
  position: absolute;
  left: -650px;
  top: 115px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  max-width: 650px;
  width: 100%;
  height: 1200px;
  transform: rotate(-90deg);
  transform-origin: right top;
  overflow-y: auto;
  overflow-x: hidden;
  background: honeydew;
  z-index: 3;
  scrollbar-width: none;
}
.project__cards::-webkit-scrollbar, .project__cards::-webkit-scrollbar-button {
  width: 1px;
  height: 1px;
}
.project__card {
  display: block;
  transform: rotate(90deg);
  transform-origin: center center;
  max-width: 424px;
  width: 100%;
  height: 650px;
  margin: -80px auto;
  border: 1px solid #D0D0D0;
  box-shadow: 0px 0px 10px 5px rgba(108, 99, 255, 0.1);
  border-radius: 8px;
}
.project__card img {
  display: block;
  max-width: 424px;
  width: 100%;
}
.project__card figcaption {
  display: block;
  margin: 11px 43px 0px;
  width: calc(100% - 43px*2);
  height: 13.3rem;
}
.project__card figcaption h1 {
  font-size: 30px;
  text-transform: uppercase;
}
.project__card figcaption p {
  display: inline-block;
  font-size: 20px;
  width: 100%;
  height: 170px;
  overflow: hidden;
}
.project__card a {
  display: inline-block;
  font-family: OpenSans_Regular;
  color: #2f80ed;
  font-size: 24px;
  margin: 16px 43px;
  text-decoration: none;
}

.contact {
  width: 100%;
  height: 1080px;
  border: 2px solid red;
}
.contact h1 {
  text-transform: uppercase;
  color: #eec6ff;
}
.contact__form {
  width: 53.25%;
  height: 52%;
  background: white;
  box-shadow: 0px 0px 60px rgba(108, 99, 255, 0.1);
  border-radius: 8px;
}
.contact__form h2 {
  text-transform: uppercase;
  font-family: OpenSans_Bold;
  font-size: 36px;
  margin-top: 63px;
}
.contact__form input {
  width: 511px;
  height: 83px;
  margin-top: 49px;
  border: 1px solid #67647e;
  border-radius: 8px;
  outline-style: none;
  font-size: 36px;
  padding-left: 20px;
  padding-top: 20px;
}
.contact__form input::placeholder {
  color: rgba(151, 151, 151, 0.8);
  font-size: 36px;
}
.contact__messenger {
  width: 511px;
  height: 83px;
  margin-top: 46px;
  border: 1px solid #67647e;
  border-radius: 8px;
}
.contact__messenger ul {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.example {
  width: 100%;
  height: 800px;
  border: 2px solid green;
}
.example__wrapper {
  width: 100%;
  height: 100%;
  background: rgba(151, 151, 151, 0.8);
  overflow: hidden;
}
.example__wrapper img {
  display: block;
  max-width: 100%;
  width: 70%;
  height: auto;
  margin: 0 auto;
}

/*# sourceMappingURL=index.css.map */
