@media screen and (max-width: 1240px) {
  .navigation {
    font-size: 22px;
  }
  .navigation .btn {
    font-size: 22px;
    height: 45px;
  }

  .header__content-teamLogo {
    max-width: 50%;
  }
  .header__content-partnerLogo {
    max-width: 17%;
  }
  .header__content-partnerLogo span {
    font-size: 13px;
  }

  .arrow {
    height: 42.3px;
  }

  .project__container {
    top: 100px;
  }
  .project__card {
    min-width: 306px;
    height: 489.6px;
    font-size: 9px;
  }

  .contact {
    height: 400px;
  }
  .contact__form {
    width: 40%;
    font-size: 9px;
  }
  .contact__form input {
    height: 60px;
  }
  .contact__method {
    height: 60px;
  }
  .contact__info {
    width: 40%;
    font-size: 34px;
  }
}
@media screen and (max-width: 975px) {
  .navigation {
    font-size: 20px;
  }
  .navigation .btn {
    height: 40px;
    font-size: 20px;
  }

  .header__content-teamLogo {
    margin-top: 16%;
    max-width: 45%;
  }
  .header__content-partnerLogo {
    max-width: 20%;
  }
  .header__content-partnerLogo span {
    font-size: 11px;
  }

  .arrow {
    height: 37.6px;
  }

  .aboutUs__text_wrapper {
    font-size: 14px;
    height: 450px;
  }
  .aboutUs__text_wrapper h1 {
    padding: 30px 0px 10px 36px;
  }
  .aboutUs__text_wrapper p {
    overflow-wrap: break-word;
    white-space: break-space;
  }
  .aboutUs__btn {
    height: 50px;
    font-size: 20px;
  }

  .project__container {
    top: 100px;
  }
  .project__card {
    min-width: 272px;
    height: 435.2px;
    font-size: 8px;
  }

  .contact {
    height: 360px;
    margin: 200px 0;
  }
  .contact__form {
    width: 40%;
    font-size: 7px;
  }
  .contact__form input {
    height: 50px;
  }
  .contact__method {
    height: 50px;
  }
  .contact__info {
    width: 45%;
    font-size: 30px;
  }
  .contact__info_icon img {
    width: 40px;
    height: auto;
  }
  .contact__button {
    margin-top: 40px;
    width: 220px;
    height: 50px;
  }
}
@media screen and (max-width: 767px) {
  .navigation {
    font-size: 18px;
  }
  .navigation .btn {
    height: 40px;
    font-size: 18px;
  }
  .navigation__link li {
    margin-right: 26px;
  }
  .navigation .btn {
    margin-right: 26px;
  }
  .navigation__lang {
    width: 90px;
  }

  .header__content-teamLogo {
    margin-top: 16%;
    max-width: 50%;
  }
  .header__content-partnerLogo {
    max-width: 20%;
  }
  .header__content-partnerLogo span {
    font-size: 9px;
  }

  .arrow {
    height: 28.2px;
    margin: 50px 0;
  }

  .aboutUs__text {
    margin-top: 120px;
  }
  .aboutUs__text_wrapper {
    font-size: 12px;
    height: 380px;
  }
  .aboutUs__text_wrapper h1 {
    font-size: 20px;
    line-height: 1.1;
    padding: 20px 0 10px 20px;
  }
  .aboutUs__text_wrapper p {
    padding: 0px 20px 30px;
  }
  .aboutUs__btn {
    height: 40px;
    padding: 4px 20px;
    font-size: 16px;
  }
  .aboutUs__carousel {
    margin-bottom: 30%;
  }
  .aboutUs__carousel ul {
    margin-top: 110%;
  }

  .project__container {
    top: 100px;
  }
  .project__card {
    min-width: 272px;
    height: 435.2px;
    font-size: 8px;
  }

  .contact {
    height: 300px;
    margin: 150px 0;
  }
  .contact__form {
    width: 40%;
    font-size: 6.5px;
    padding-left: 25px;
  }
  .contact__form input {
    height: 40px;
    margin-top: 25px;
  }
  .contact__method {
    height: 40px;
    margin-top: 35px;
  }
  .contact__method span {
    top: -18px;
  }
  .contact__button {
    margin-top: 30px;
    width: 180px;
    height: 40px;
    line-height: 1;
  }
  .contact__info {
    width: 45%;
    font-size: 22px;
  }
  .contact__info_icon img {
    width: 32px;
    height: auto;
  }
}
@media screen and (max-width: 640px) {
  .navigation {
    font-size: 16px;
  }
  .navigation__nav {
    margin-top: 15px;
  }
  .navigation .btn {
    height: 32px;
    font-size: 16px;
  }
  .navigation__link li {
    margin-right: 26px;
  }
  .navigation .btn {
    margin-right: 26px;
  }
  .navigation__lang {
    width: 80px;
    margin-top: 15px;
  }

  .header__content-teamLogo {
    margin-top: 16%;
    max-width: 45%;
  }
  .header__content-partnerLogo {
    margin-top: 50px;
    max-width: 18%;
  }
  .header__content-partnerLogo span {
    font-size: 8px;
  }

  .arrow {
    height: 18.8px;
    margin: 30px 0;
  }

  .aboutUs__text {
    margin-top: 120px;
  }
  .aboutUs__text_wrapper {
    font-size: 11px;
    height: 320px;
  }
  .aboutUs__text_wrapper h1 {
    font-size: 16px;
    padding: 20px 0 10px 20px;
  }
  .aboutUs__text_wrapper p {
    padding: 0px 20px 30px;
    line-height: 1.2;
  }
  .aboutUs__btn {
    height: 40px;
    font-size: 16px;
    margin: 0 0 40px 20px;
    padding: 5px 20px;
  }

  .project__container {
    top: 100px;
  }
  .project__card {
    min-width: 204px;
    height: 326.4px;
    font-size: 6px;
    margin: 10px;
  }
  .project__card figcaption {
    padding: 10px;
  }

  .contact {
    height: 600px;
    margin: 150px 0;
  }
  .contact__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact__form {
    width: 70%;
    height: 45%;
    font-size: 7px;
    padding-left: 25px;
  }
  .contact__form input {
    height: 40px;
    margin-top: 25px;
  }
  .contact__method {
    height: 40px;
    margin-top: 35px;
  }
  .contact__method span {
    top: -18px;
  }
  .contact__button {
    margin-top: 30px;
    width: 200px;
    height: 40px;
  }
  .contact__info {
    width: 70%;
    height: 45%;
    font-size: 22px;
  }
  .contact__info_icon img {
    width: 32px;
    height: auto;
  }
}
@media screen and (max-width: 575px) {
  .navigation {
    font-size: 14px;
  }
  .navigation__nav {
    margin-top: 15px;
  }
  .navigation .btn {
    height: 32px;
    font-size: 14px;
    padding: 0 10px;
  }
}

/*# sourceMappingURL=media.css.map */
