@import '_variables';

// $tLogoMaxW=50%, $tLogoMarTop=16%,  $pLogoMaxW=19%, $pLogoMarTop=15%  $arrowCoeff, $arrowMaxW,

@mixin teamLogo ($maxWidth:50%,$marginTop:20vh) {
  max-width: $maxWidth;
  margin-top: $marginTop;
}

@mixin partnerLogo ($maxWidth:19%,$marginTop:15vh) {
  max-width: $maxWidth;
  margin-top: $marginTop;
}

@mixin arrow ($heightCoeff:0.5,$marginTop:8vh) {
  height: $arrowWidth * $heightCoeff;
  margin-top: $marginTop;
}
