// color
$bgd-nav:rgba(255, 255, 255, 1);
$color-nav: rgba(30, 30, 30, 1);
$bgd-container:rgba(108, 99, 255, 0.8);
$color-desktopTitle:rgba(255, 255, 255, 0.5);
$color-LangNoActive:rgba(47,128,237,1);
$bgd-linkHover:linear-gradient(to right, rgba(211, 29, 74, 1) 0%, rgba(77, 16, 194, 1) 100%);