// color
$bgd-nav:transparent;
$color-nav: rgba(255, 255, 255, 0.8);
$bgd-container:rgba(119, 99, 255, 0.9);
$color-desktopTitle:rgba(255, 255, 255, 0.5);
$color-langActive:rgba(255, 255, 255, 0.95);
$color-langNoActive: rgba(255, 255, 255, 0.8);
$bgd-linkActive: rgba(255, 255, 255, 0.8);
$border-contactButton:rgba(255,255,255,.9);
$color-contactButton:rgba(255,255,255,.9);
$color-aboutUsTitle:rgb(30,30,30);
$color-aboutUsText: rgb(42,42,42);
$border-arrow: rgba(255, 255, 255, 0.7);
$bgd-aboutUs:rgb(255,255,255);
$color-aboutUsBtn:rgb(47, 128, 237);
$bgd-project:rgb(255,255,255);
$colorLink-project: rgb(47,128,237);

// arrow
$arrowWidth:94px;

// cards
$card-minWidth:340px;

//project
  //Переменные для позиционирования блока горизонтальной прокрутки
    //Card
    
   