// color
$bgd-nav:transparent;
$color-nav: rgba(255, 255, 255, 0.8);
$bgd-container:rgba(119, 99, 255, 0.9);
$color-desktopTitle:rgba(255, 255, 255, 0.5);
$color-langActive:rgba(255, 255, 255, 0.95);
$color-langNoActive: rgba(255, 255, 255, 0.8);
$bgd-linkActive: rgba(255, 255, 255, 0.8);
$color-aboutUsTitle:rgb(30,30,30);
$color-aboutUsText: rgb(42,42,42);
$border-arrow:3px solid rgba(255, 255, 255, 0.7);
$bgd-aboutUs:rgb(255,255,255);
$bgd-project:rgb(255,255,255);