@font-face {
  font-family: OpenSans_Light;
  src: url(../../fonts/OpenSans-Light.ttf);
}

@font-face {
  font-family: OpenSans_Regular;
  src: url(../../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: OpenSans_SemiBold;
  src: url(../../fonts/OpenSans-SemiBold.ttf);
}

@font-face {
  font-family: OpenSans_Bold;
  src: url(../../fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: OpenSans_ExtraBold;
  src: url(../../fonts/OpenSans-ExtraBold.ttf);
}

@import '_variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: OpenSans_Regular;
  // font-family: OpenSans_ExtraBold;
  // font-family: OpenSans_Light; 
}

html {
  scroll-behavior: smooth;

}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  // max-width: 1920px;
  width: 100%;
  height: 100%;
  font-size: 24px;

  background-blend-mode: soft-light; //смешивание слоев
  background: url(/img/background-image.png), $bgd-container;
  background-repeat: no-repeat;
  background-size: cover;
  // border: 1px solid red;

  &__container {
    max-width: 1200px;
    width: 100%;
    height: auto;
    // border: 2px solid red;

  }

  &__navigation {
    width: 100%;
    height: 74px;
    background: $bgd-nav;
    // position: sticky;
    top: 0px;
    left: 0;
    display: flex;
    z-index: 2;
    // border: 1px solid black;
  }


  &__nav {
    flex: 1;
    height: 50%;
    font-family: OpenSans_Light;
    margin-top: 19px;
    // border: 1px solid white;

  }

  &__link {
    display: flex;
    width: 100%;
    height: 100%;
    list-style: none;



    li {
      display: block;
      position: relative;
      width: auto;
      height: 100%;
      margin-right: 38px;
      z-index: 1;


      &::before {
        display: block;
        position: absolute;
        content: '';
        top: -10px;
        left: 0;
        width: 100%;
        height: 5px;
        z-index: 1;
      }






      // &::after {
      //   display: block;
      //   position: absolute;
      //   content: '';
      //   top: -11px;
      //   right: -1px;
      //   // background: white;
      //   width: 102%;
      //   height: 7px;
      //   z-index: 2;
      //   transition: 0.4s ease;
      // }

      // &:hover::after {
      //   width: 0%;
      //   transition: 0.4s ease;
      // }

      a {
        display: block;
        width: 100%;
        height: 100%;
        font-size: inherit;
        text-decoration: none;
        color: $color-nav;
        font-family: OpenSans_Regular;

        &::first-letter {
          text-transform: uppercase;
        }
      }


    }

    // end li

  }

  // li:not(:last-child) {
  //   margin-right: 43px;
  // }

  .btn {
    width: 200px;
    height: 55px;
    margin-top: 11px;
    border-radius: 8px;
    border: 4px solid rgba(255, 255, 255, 0.9);
    background: transparent;
    outline-style: none;
    color: $color-nav;
    font-family: OpenSans_SemiBold;
    font-size: 24px;
    margin-right: 34px;
    cursor: pointer;

    &:hover {
      border: 1px solid rgba(255, 255, 255, 0.9);
      box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.9);
    }

    &::first-letter {
      text-transform: uppercase;
    }

  }

  &__lang {
    display: flex;
    justify-content: space-between;
    margin-top: 19px;
    width: 110px;
    height: 50%;
    font-family: OpenSans_SemiBold;
    // border: 1px solid red;

    #en,
    #ru {
      display: inline-block;
      height: 100%;
      font-family: inherit;
      color: $color-langNoActive;
      cursor: pointer;

      #en {
        margin-right: 13px;
      }



      .active {
        color: $color-langActive;
        font-family: OpenSans_Bold;

      }
    }

  }

  &__content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;

    // border: 4px solid rgb(211, 224, 28);

    &-teamLogo {
      display: block;
      max-width: 60%;
      margin-top: 15vmin;
      opacity: 0.8;
      // height: 38%;
    }

    &-partnerLogo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 10vmin;
      width: 19.1%;
      // height: 63px;


      a {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;


        &:hover span,
        &:hover img {
          color: white;
          opacity: 1;
          transition: all .3s ease;
        }
      }

      img {
        display: block;
        width: 100%;
        // filter: brightness(0%) invert(100%);
        opacity: 0.5;
        transition: opacity .3s ease;
        // height: auto;

      }

      span {
        display: inline-block;
        width: 100%;
        color: $color-desktopTitle;
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 0.01em;
        transition: color .3s ease;

      }

    }

  }

}

.activeLink::before {
  background: $bgd-linkActive;
}



.arrow {
  position: relative;
  width: 93px;
  height: 46px;
  background-color: transparent;
  margin-top: 10vmin;
  margin-bottom: 100px;
  overflow: hidden;

  div {
    position: absolute;
    top: -75px;
    left: -5px;
    width: 100px;
    height: 100px;
    border: $border-arrow;
    transform: rotate(45deg);
    transform-origin: 50% 50%;
  }

  a {
    text-decoration: none;
    display: block;
  }

}


// MAIN


.main {
  max-width: 1920px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;

}

.container {
  max-width: 1200px;
  width: 100%;
  height: auto;
  // border: 2px solid red;
}
  .aboutUs {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    // border: 5px solid black;
    

    &__wrapper {
      
      border: 2px solid red;

    }

    &__text {
      position: sticky;
      top: 178px;
      bottom: 400px;
      width: 60%;
      height: 67%;
      // align-self: flex-start;
      margin-top: 178px;
      // z-index: 2;

      // border-radius: 5px;
      // box-shadow: 0px 0px 10px 1px gray;
      color: $color-aboutUsText;
      border: 1px dashed blue;


      h1 {
        padding: 55px 0px 10px 36px;
        font-family: OpenSans_Bold;
        text-transform: uppercase;
        color:$color-aboutUsTitle;
      }

      p {
        padding: 0px 36px 55px;
        overflow-wrap: break-word;
        white-space: pre-line;
      }

    }

    /* &-scopes {
      position: sticky;
      top: 0px;
      margin-top: 43px;
      height: 750px;
      font-size: 200px;
      line-height: 0.5;
      font-family: OpenSans_ExtraBold;
      writing-mode: vertical-rl;
      transform: rotate(-180deg);
      color: #6C63FF;
      opacity: 0.5;
      text-transform: uppercase;
      z-index: 1;

    } */

    &__carousel {
      position: relative;
      top:0;
      width: 30%; 
      height: 100%;    
      z-index: 5;
      border: 1px solid red;



      ul {
        display: flex;
        margin-top: 65%;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        list-style: none;
        border: 2px dashed blue;




        li {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%; 
          margin-bottom: 50px;


          img {
            position: relative;
            display: block;
            width: 100%;
            height: auto;
            z-index: 5;
          }
        }

      }
    }

  }

  // aboutUs


  .project {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    border: 3px solid blue;
    overflow-x: scroll;
    
   

    &__cards {
      display: flex; 
      flex-flow: row nowrap;           
      width: 100%;
      // overflow-x: scroll;
      // height: 69.2%;
      border: 3px solid green;
     
    }

    &__card {
      display: block;
      width: 500px;
      
      // margin:0 30px ;
      border: 1px solid #D0D0D0;
      box-shadow: 0px 0px 10px 5px rgba(108, 99, 255, 0.1);
      border-radius: 8px;

      img {
        display: block;
        width: 100%;
        // height: 41%;
      }
    }
  }



//container